#buttons{
    margin-top:25px;
}

#buttons a{
    display:block;
    margin-bottom:15px;
}

.store-badge{

    width:220px;
    max-width:100%;
    transition:.2s;

}

.store-badge:hover{

    transform:scale(1.03);

}
