*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Segoe UI", Arial, sans-serif;
}

body{
    background:#ffffff;
    color:#333;
}

/* HERO */

.hero{
    background:#ffffff;
    border-bottom:1px solid #ececec;
    text-align:center;
    padding:80px 20px;
}

.logo{
    width:500px !important;
    height:auto;
}

.hero h1{
    font-size:50px;
    font-weight:700;
    color:#2f2f2f;
    line-height:1.2;
    margin-bottom:20px;
}

.hero p{
    max-width:700px;
    margin:0 auto;
    color:#777;
    font-size:20px;
    line-height:1.7;
}

/* BUTTON DOWNLOAD */

.download{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:15px;
    margin-top:35px;
    flex-wrap:wrap;
}

.download a{
    display:inline-flex;
    transition:.3s;
}

.download a:hover{
    transform:translateY(-4px);
}

.download img{
    height:50px;
    width:auto;
    display:block;
}

/* FEATURES */

.features{
    background:#f7f8fa;
    padding:80px 8%;

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(240px,1fr));
    gap:30px;
}

.card{
    background:#ffffff;
    border:1px solid #ececec;
    border-radius:18px;
    padding:35px 25px;
    text-align:center;

    box-shadow:0 8px 20px rgba(0,0,0,.05);
    transition:.3s;
}

.card:hover{
    transform:translateY(-6px);
    box-shadow:0 12px 28px rgba(0,0,0,.08);
}

.card img{
    width:70px;
    height:70px;
    object-fit:contain;
    margin-bottom:20px;
}

.card h3{
    color:#333;
    margin-bottom:15px;
    font-size:22px;
}

.card p{
    color:#777;
    line-height:1.6;
}

/* FOOTER */

footer{
    background:#f2f2f2;
    border-top:1px solid #e5e5e5;
    text-align:center;
    padding:35px 20px;
}

footer h3{
    color:#333;
    margin-bottom:10px;
}

footer p{
    color:#777;
    margin-top:8px;
}

/* RESPONSIVE */

@media (max-width:768px){

.logo{
    width:180px;
}

.hero{
    padding:60px 20px;
}

.hero h1{
    font-size:36px;
}

.hero p{
    font-size:17px;
}

.download img{
    height:45px;
}

.features{
    padding:60px 20px;
}

}

@media (max-width:768px){

.logo{
    width:220px;
}

}

.btn-brosur{
    display:inline-block;
    margin-top:20px;
    padding:12px 24px;
    background:#f3f4f6;
    color:#333;
    text-decoration:none;
    border:1px solid #d1d5db;
    border-radius:10px;
    font-weight:600;
    transition:.3s;
}

.btn-brosur:hover{
    background:#e5e7eb;
}
